<h1><%= gettext "Edit User" %></h1>

<%= render "form.html", %{action: Routes.user_path(@conn, :update, @user), cancel: Routes.user_path(@conn, :index), changeset: @changeset, conn: @conn, acceptable_roles: @acceptable_roles} %>
