<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="h1"><%= gettext "email_welcome" %></h1>
      <p class="h5"><%= gettext "verification_steps" %></p>
      <%= link gettext("Verify"), to: @verification_link, class: "btn btn-primary rounded ml-2" %>
    </div>
  </body>
</html>
